<div class="col-md-2 col-sm-0">

	<!-- sidebar -->
	<div class="sidebar small-sidebar">

		<div class="widget categories-widget">
			<div class="title-section">
				<h1><span>Hot Categories</span></h1>
			</div>
			<ul class="category-list">
				<li>
					<a href="#">IT Management <span>12</span></a>
				</li>
				<li>
					<a href="#">Internet <span>26</span></a>
				</li>
				<li>
					<a href="#">Computer Hardware <span>55</span></a>
				</li>
				<li>
					<a href="#">Mobile &amp; Wireless <span>37</span></a>
				</li>
				<li>
					<a href="#">Operating Systems <span>62</span></a>
				</li>
				<li>
					<a href="#">Reviews <span>10</span></a>
				</li>
				<li>
					<a href="#">News <span>43</span></a>
				</li>
				<li>
					<a href="#">App Development <span>74</span></a>
				</li>
				<li>
					<a href="#">Entertainment <span>11</span></a>
				</li>
				<li>
					<a href="#">Mobile Apps <span>41</span></a>
				</li>
				<li>
					<a href="#">Tablets <span>11</span></a>
				</li>
				<li>
					<a href="#">Web Apps <span>29</span></a>
				</li>
			</ul>
		</div>

		<div class="widget review-widget">
			<h1>Top Reviews</h1>
			<ul class="review-posts-list">
				<li>
					<img src="upload/news-posts/rev1.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
				</li>
				<li>
					<img src="upload/news-posts/rev2.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</li>
				<li>
					<img src="upload/news-posts/rev3.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</li>
				<li>
					<img src="upload/news-posts/rev4.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</li>
				<li>
					<img src="upload/news-posts/rev5.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
					</span>
				</li>
				<li>
					<img src="upload/news-posts/rev6.jpg" alt="">
					<h2><a href="single-post.html">Donec nec justo eget felis facilisis fermentum.</a></h2>
					<span class="date"><i class="fa fa-clock-o"></i>27 may 2013</span>
					<span class="post-rating">
						<i class="fa fa-star"></i>
						<i class="fa fa-star"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
					</span>
				</li>
			</ul>
		</div>

		<div class="advertisement">
			<div class="desktop-advert">
				<span>Advertisement</span>
				<img src="upload/addsense/160x600.jpg" alt="">
			</div>
		</div>

		

	</div>

</div>